body {
  background-color: #fdfdfd;
  color: #1a1a1a;
  font-family: Merriweather, serif;
  margin: auto;
  max-width: 80ch;
  padding: 2ch;
}

h1,
h3 {
  text-align: center;
}

p {
  line-height: 1.6;
}

.footnote-back {
  margin-left: 0.3em;
}

.footnote-ref sup {
  font-family: "Roboto Slab", serif;
  position: relative;
  top: -0.6em;
  vertical-align: baseline;
}

.footnotes {
  font-size: 90%;
}

.footnotes hr {
  margin-top: 2rem;
}

.footnotes p {
  line-height: 1.4;
}

.return-link {
  text-align: end;
}
